<form action="/add-prod" method="POST" class="product-form">
  <div class="form-control">
    <label for="title">Add Product</label>
    <input type="text" name="title" id="title" />
  </div>
  <button type="submit">Add Product</button>
</form>