.product-form {
  width: 30rem;
  max-width: 90%;
  margin: auto;
  margin-top: 1rem;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input {
  border: 1px solid indigo;
  font: inherit;
  border-radius: 5px;
  text-align: center;
}
button {
  font: inherit;
  border: 1px solid black;
  background: whitesmoke;
  text-align: center;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  border-color: indigo;
  color: black;
}
button:hover {
  background-color: indigo;
  color: white;
}
